<p id="notice"><%= notice %></p>

<p>
  <strong>Pub key:</strong>
  <%= @platform_v1_chain.pub_key %>
</p>

<%= link_to 'Edit', edit_platform_v1_chain_path(@platform_v1_chain) %> |
<%= link_to 'Back', platform_v1_chains_path %>
