<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You have successfully confirmed your bigearth.io account!
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>
      We recommend turning on 2 factor authentication: <%= @twofa %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
