
<div class='hero'>
  <div class='container'>
    <section class='row m-b-md'>
        <div class='col-sm-12'>
          <h2><span class='glyphicon glyphicon-user' aria-hidden='true'></span> Edit Profile <strong><%= @user.email %></strong></h2>
          <%= render 'shared/breadcrumb' %>
          <%= render 'shared/social_media' %>
        </div>
    </section>
  </div>
</div>
<div class='sub'>
  <section class='container'>
    <%= render 'form', type: 'edit' %>
  </div>
</div>
