<div id='docs'>
  <div class='container'>
    <div class="blog-header">
      <h1 class="blog-title">Big Earth Blockchain Credit</h1>
      <p class="lead blog-description">Giving props to those who helped us get where we are</p>
      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <p>It's a web of services and we admit that this site is a mashup of original work along w/ API calls to the Giants that have come before us.</p>
            <p>If you see something that looks familiar it's likely that we're pulling it from the API of one of the following great services. We're incredibly grateful and we wish them the best.</p>
            <ul>
              <li><%= link_to 'Coinbase', 'https://coinbase.com' %></li>
              <li><%= link_to 'Blockchain.info', 'https://blockchain.info' %></li>
              <li><%= link_to 'Blockr', 'https://blockr.io' %></li>
            </ul>
          </div>
        </div><!-- /.blog-main -->
        <%= render 'nav' %>
      </div><!-- /.row -->  
    </div>
  </div>
</div>
