<!-- <%= debug(params[:controller]) %> -->
<ul class="breadcrumb">
<li><%= link_to 'Home', root_url %></li>
<li class="active">Block <%= number_with_delimiter(@block['data']['nb'], delimiter: ',') %></li>
</ul>
