<%= link_to "https://twitter.com/intent/tweet?text=#{create_page_title}Big Earth Blockchain Explorer - #{request.original_url}", class: 'btn btn-lg' do %> 
  <span class="fa fa-twitter"></span> 
<% end %>
<%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}", class: 'btn btn-lg' do %>
  <span class="fa fa-facebook"></span> 
<% end %>
<% unless current_page?(root_url) || current_page?(apps_calculator_path) %>
  <% if current_page?(apps_bookmarks_path) %>
    <%= link_to '#', class: 'btn btn-sm clear_all_bookmarks' do %>
      <span class="text-primary glyphicon glyphicon-remove" aria-hidden="true"></span>
      Delete All
    <% end %>
  <% elsif current_page?(apps_bookmarks_path) != '/apps/bookmarks' %>
    <%= link_to '#', class: 'btn btn-sm create_bookmark', "data-bookmark_type" => create_bookmark_type, "data-page_id" => params[:id] do %> 
      <span class="text-primary glyphicon glyphicon-bookmark" aria-hidden="true"></span> 
    <% end %>
  <% end %>
<% end %>
