<div class='hero'>
  <div class='container'>
    <section class="row m-b-md">
        <div class="col-sm-12">
          <h2><span class='glyphicon glyphicon-dashboard' aria-hidden='true'></span> Bitcoin <strong>Charts</strong></h2>
          <%= render 'shared/breadcrumb' %>
          <%= render 'shared/social_media' %>
        </div>
    </section>
  </div>
</div>
<div class='sub'>
  <section id='data' class='container' data-blockchain_size='<%= @blockchain_size.to_json %>'>
    <div id='blockchain_size_chart'></div>
  </section>
</div>
<script>
window.onload = function() {
  'use strict';  
  google.charts.setOnLoadCallback(draw_blockchain_size_chart);

  function draw_blockchain_size_chart() {
    var data = new google.visualization.DataTable();
    data.addColumn('number', 'Time');
    data.addColumn('number', 'Total');
    data.addRows(JSON.parse(document.getElementById('data').dataset.blockchain_size));

    var options = {
      title: 'Blockchain Size',
      height: 400,
      chartArea: {
        width: '90%',
        height: '80%',
        left: 75,
        right: 25
      },
      hAxis: {
        // ticks: [1, 2 ,3 ,4 ,5 ,6 ,7 ,8 ,9, 10]
        gridlines: {
          color: 'transparent'
        }
      },
      vAxis: {
        title: 'MB',
        format: 'short'
      },
      legend: {
        position: 'none'
      }
    };

    var chart = new google.visualization.LineChart(document.getElementById('blockchain_size_chart'));
    resize(function () {
      chart.draw(data, options);
    });
  }
};
</script>
