<div class='hero'>
  <section id='data' class='container' data-days_destroyed_cumulative='<%= @days_destroyed_cumulative.to_json %>'>
  </section>
</div>
<div class='sub'>
  <section class='container'>
    <div id='days_destroyed_cumulative_chart'></div>
  </section>
</div>
<script>
window.onload = function() {
  'use strict';  
  google.charts.setOnLoadCallback(draw_days_destroyed_cumulative_chart);

  function draw_days_destroyed_cumulative_chart() {
    var data = new google.visualization.DataTable();
    data.addColumn('number', 'Time');
    data.addColumn('number', 'Total');
    data.addRows(JSON.parse(document.getElementById('data').dataset.days_destroyed_cumulative));

    var options = {
      title: 'Bitcoin Days Destroyed Cumulative',
      hAxis: {
        // ticks: [1, 2 ,3 ,4 ,5 ,6 ,7 ,8 ,9, 10]
      },
      vAxis: {
        title: 'Days Destroyed'
      },
      legend: {
        position: 'none'
      }
    };

    var chart = new google.visualization.LineChart(document.getElementById('days_destroyed_cumulative_chart'));
    chart.draw(data, options);
  }
};
</script>
