<div class='hero'>
  <section id='data' class='container' data-market_price='<%= @market_price.to_json %>'>
  </section>
</div>
<div class='sub'>
  <section class='container'>
    <div id='market_price_chart'></div>
  </section>
</div>
<script>
window.onload = function() {
  'use strict';  
  google.charts.setOnLoadCallback(draw_market_price_chart);

  function draw_market_price_chart() {
    var data = new google.visualization.DataTable();
    data.addColumn('number', 'Time');
    data.addColumn('number', 'Total');
    data.addRows(JSON.parse(document.getElementById('data').dataset.market_price));

    var options = {
      title: 'Market Price (USD)',
      hAxis: {
        // ticks: [1, 2 ,3 ,4 ,5 ,6 ,7 ,8 ,9, 10]
      },
      vAxis: {
        title: 'Market Price (USD)'
      },
      legend: {
        position: 'none'
      }
    };

    var chart = new google.visualization.LineChart(document.getElementById('market_price_chart'));
    chart.draw(data, options);
  }
};
</script>
