<div class='hero'>
  <section id='data' class='container' data-network_deficit='<%= @network_deficit.to_json %>'>
    <div id='network_deficit_chart'></div>
  </section>
</div>
<div class='sub'>
  <section class='container'>
  </section>
</div>
<script>
window.onload = function() {
  'use strict';  
  google.charts.setOnLoadCallback(draw_network_deficit_chart);

  function draw_network_deficit_chart() {
    var data = new google.visualization.DataTable();
    data.addColumn('number', 'Time');
    data.addColumn('number', 'Total');
    data.addRows(JSON.parse(document.getElementById('data').dataset.network_deficit));

    var options = {
      title: 'Network Deficit per day',
      hAxis: {
        // ticks: [1, 2 ,3 ,4 ,5 ,6 ,7 ,8 ,9, 10]
      },
      vAxis: {
        title: 'Network Deficit (USD)'
      },
      legend: {
        position: 'none'
      }
    };

    var chart = new google.visualization.LineChart(document.getElementById('network_deficit_chart'));
    resize(function () {
      chart.draw(data, options);
    });
  }
};
</script>
