<div class='hero'>
  <section id='data' class='container' data-orphaned_block='<%= @orphaned_block.to_json %>'>
    <div id='orphaned_block_chart'></div>
  </section>
</div>
<div class='sub'>
  <section class='container'>
  </section>
</div>
<script>
window.onload = function() {
  'use strict';  
  google.charts.setOnLoadCallback(draw_orphaned_block_chart);

  function draw_orphaned_block_chart() {
    var data = new google.visualization.DataTable();
    data.addColumn('number', 'Time');
    data.addColumn('number', 'Total');
    data.addRows(JSON.parse(document.getElementById('data').dataset.orphaned_block));

    var options = {
      hAxis: {
        // ticks: [1, 2 ,3 ,4 ,5 ,6 ,7 ,8 ,9, 10]
      },
      vAxis: {
        title: 'Number of Blocks'
      },
      legend: {
        position: 'none'
      }
    };

    var chart = new google.visualization.LineChart(document.getElementById('orphaned_block_chart'));
    chart.draw(data, options);
  }
};
</script>
