<div class='hero'>
  <section id='data' class='container' data-total_output='<%= @total_output.to_json %>'>
  </section>
</div>
<div class='sub'>
  <section class='container'>
    <div id='total_output_chart'></div>
  </section>
</div>
<script>
window.onload = function() {
  'use strict';  
  google.charts.setOnLoadCallback(draw_total_output_chart);

  function draw_total_output_chart() {
    var data = new google.visualization.DataTable();
    data.addColumn('number', 'Time');
    data.addColumn('number', 'Total');
    data.addRows(JSON.parse(document.getElementById('data').dataset.total_output));

    var options = {
      title: 'Total Output Volume',
      hAxis: {
        // ticks: [1, 2 ,3 ,4 ,5 ,6 ,7 ,8 ,9, 10]
      },
      vAxis: {
        title: 'Output Volume (BTC)'
      },
      legend: {
        position: 'none'
      }
    };

    var chart = new google.visualization.LineChart(document.getElementById('total_output_chart'));
    chart.draw(data, options);
  }
};
</script>
