<div class='hero'>
  <section id='data' class='container' data-transaction_total='<%= @transaction_total.to_json %>'>
    <div id='transaction_total_chart'></div>
  </section>
</div>
<div class='sub'>
  <section class='container'>
  </section>
</div>
<script>
window.onload = function() {
  'use strict';  
  google.charts.setOnLoadCallback(draw_transaction_total_chart);

  function draw_transaction_total_chart() {
    var data = new google.visualization.DataTable();
    data.addColumn('number', 'Time');
    data.addColumn('number', 'Total');
    data.addRows(JSON.parse(document.getElementById('data').dataset.transaction_total));

    var options = {
      title: 'Total Number of Transactions',
      hAxis: {
        // ticks: [1, 2 ,3 ,4 ,5 ,6 ,7 ,8 ,9, 10]
      },
      vAxis: {
        title: 'Number of Transactions'
      },
      legend: {
        position: 'none'
      }
    };

    var chart = new google.visualization.LineChart(document.getElementById('transaction_total_chart'));
    chart.draw(data, options);
  }
};
</script>
