<div class='hero'>
  <section class='container'>
    <section class="row m-b-md">
        <div class="col-sm-12">
          <h2>Bitcoin <strong>Bookmarks</strong></h2>
          <%= render 'shared/breadcrumb' %>
          <%= render 'shared/social_media' %>
        </div>
    </section>
  </section>
</div>
<div class='sub'>
  <section class='container'>
    <section class="row m-b-md">
        <div class="col-sm-12">
    </section>
  </section>
</div>
 
