<section class="row m-b-md">
    <div class="col-sm-12">
        <h2>Bitcoin</h2>
    </div>
</section>
<%= render 'info' %>
<%= render 'difficulty' %>
<%= render 'next_difficulty' %>
<%= render 'last_blocks' %>
