<div class='hero'>
  <section class='container'>
    <%= render 'info' %>
    <%= render 'shared/social_media' %>
  </section>
</div>
<div class='sub'>
  <section class='container'>
    <%= render 'blocks' %>
    <%= render 'statistics' %>
  </section>
</div>
