GOOGLE_ANALYTICS_TRACKING_ID:
DIGITAL_OCEAN_API_TOKEN: 
SSH_KEY_ID: 
CHEF_WORKSTATION_IP_ADDRESS: 
CHEF_WORKSTATION_USERNAME: 
CHEF_WORKSTATION_PASSWORD: 
MAILER_SENDER:
MAILER_DOMAIN: 
MAILER_ADDRESS: 
MAILER_PORT: 
test:
  SECRET_KEY_BASE: 
  RAILS_SECRET_TOKEN: 
development:
  SECRET_KEY_BASE: 
  RAILS_SECRET_TOKEN: 
  RESQUE_WEB_USERNAME: 
  RESQUE_WEB_PASSWORD: 
  REDISTOGO_URL: 
  MONGODB_CREDENTIALS:
  PEPPER:
  RESQUE_WEB_USERNAME:
  RESQUE_WEB_PASSWORD:
  REDISTOGO_URL:
  CLOUD_USERNAME:
  CLOUD_PASSWORD:
  BLOCKCHAIN_PROXY_USERNAME:
  BLOCKCHAIN_PROXY_PASSWORD:
staging: 
  SECRET_KEY_BASE: 
  RAILS_SECRET_TOKEN: 
  NEW_RELIC_APP_NAME: 
  MONGODB_CREDENTIALS:
  PEPPER:
  RESQUE_WEB_USERNAME:
  RESQUE_WEB_PASSWORD:
  AUTHY_TOKEN:
  ACTION_MAILER_DEFAULT_URL_HOST:
  CLOUD_USERNAME:
  CLOUD_PASSWORD:
  BLOCKCHAIN_PROXY_USERNAME:
  BLOCKCHAIN_PROXY_PASSWORD:
production:
  SECRET_KEY_BASE: 
  RAILS_SECRET_TOKEN: 
  NEW_RELIC_APP_NAME: 
  GOOGLE_ANALYTICS_TRACKING_ID:
  MONGODB_CREDENTIALS:
  PEPPER:
  AUTHY_TOKEN:
  ACTION_MAILER_DEFAULT_URL_HOST:
