GOOGLE_ANALYTICS_TRACKING_ID:
HTTP_BASIC_AUTH_NAME: 
HTTP_BASIC_AUTH_PASSWORD: 
DIGITAL_OCEAN_API_TOKEN: 
DROPLET_IP_ADDRESS: 
SSH_KEY_ID: 
CHEF_WORKSTATION_IP_ADDRESS: 
CHEF_WORKSTATION_USERNAME: 
CHEF_WORKSTATION_PASSWORD: 
test:
  SECRET_KEY_BASE: 
  RAILS_SECRET_TOKEN: 
development:
  SECRET_KEY_BASE: 
  RAILS_SECRET_TOKEN: 
  RESQUE_WEB_USERNAME: 
  RESQUE_WEB_PASSWORD: 
  REDISTOGO_URL: 
  MONGODB_CREDENTIALS:
staging: 
  SECRET_KEY_BASE: 
  RAILS_SECRET_TOKEN: 
  NEW_RELIC_APP_NAME: 
  HTTP_BASIC_AUTH_NAME: 
  HTTP_BASIC_AUTH_PASSWORD: 
  MONGODB_CREDENTIALS:
production:
  SECRET_KEY_BASE: 
  RAILS_SECRET_TOKEN: 
  NEW_RELIC_APP_NAME: 
  HTTP_BASIC_AUTH_NAME: 
  HTTP_BASIC_AUTH_PASSWORD: 
  GOOGLE_ANALYTICS_TRACKING_ID:
  MONGODB_CREDENTIALS:
