<div class='hide form' id='getbestblockhash'>
  GET BESTBLOCKHASH FORM
</div>
<div class='hide form' id='getblock'>
  <input data-type='hash' type="text" placeholder="hash">
  <input type="checkbox" checked='checked'>Verbose</input>
</div>
