<div class='hide form' id='getblock'>
  <input data-type='hash' type='text' placeholder='hash'>
  <input data-type='verbose' type='checkbox' checked='checked'>Verbose</input>
</div>
<div class='hide form' id='getblockhash'>
  <input data-type='index' type='number' placeholder='index'>
</div>
