<div class='parent_folder' data-child_folder='generate'>
  <section class='row'>
    <div class='col-md-2 text-center'>
      <span class='glyphicon glyphicon-folder-close' aria-hidden='true'></span>
    </div>
    <div class='col-md-10'>
      <h4>Generate</h4>
      <p>3 Requests</p>
    </div>
  </section>
</div>

<ul id='generate' class='hide requests'>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-2 text-center'>
        POST
      </div>
      <div class='col-md-10'>
        <code>generate</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-2 text-center'>
        GET
      </div>
      <div class='col-md-10'>
        <code>getgenerate</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-2 text-center'>
        POST
      </div>
      <div class='col-md-10'>
        <code>setgenerate</code>
      </div>
    </section>
    <% end %>
  </li>
</ul>
