<div class='parent_folder' data-child_folder='generate'>
  <section class='row'>
    <div class='col-md-3 text-center folder_icon'>
      <span class='glyphicon glyphicon-folder-close' aria-hidden='true'></span>
    </div>
    <div class='col-md-9'>
      <h4>Generate</h4>
      <p>3 Requests</p>
    </div>
  </section>
</div>

<ul id='generate' class='hide requests'>
  <li>
    <%= link_to user_chain_generate_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code>generate</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_get_generate_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code>getgenerate</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_set_generate_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code>setgenerate</code>
      </div>
    </section>
    <% end %>
  </li>
</ul>
