<div class='sub'>
  <section class='container'>
    <h3><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Bitcoin <strong>Blockchain</strong></h3>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          New Blockchain
        </h3>
      </div>
      <div class="panel-body">
        <section class="row m-b-md">
          <div class="col-sm-12" id='new_chain'>
            <%= render 'form' %>
          </div>
        </section>
      </div>
    </div>
  </section>
</div>
