<section class="row m-b-md">
    <div class="col-sm-12">
      <h2>Bitcoin Address</h2>
      <%= render partial: 'shared/breadcrumb' %>
      <%= render partial: 'info' %>
      <%= render partial: 'first_and_last' %>
      <%= render partial: 'transactions' %>
    </div>
</section>
