<div class='hero'>
  <section class='container'>
    <section class="row m-b-md">
        <div class="col-sm-12">
          <h2>Bitcoin <strong>Bookmarks</strong></h2>
          <%= render 'shared/breadcrumb' %>
          <%= render 'shared/social_media' %>
        </div>
    </section>
  </section>
  <section class="row m-b-md">
      <div class="col-sm-12">
        <h3>Bitcoin <strong>Blocks</strong></h3>
      </div>
  </section>
  <section class="row m-b-md">
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
              <tr>
                <td>foo</td>
                <td>bar</td>
              </td>
            </tbody>
        </table>
    </div>
  </section>
  <section class='container'>
    <section class="row m-b-md">
        <div class="col-sm-12">
          <h3>Bitcoin <strong>Transactions</strong></h3>
        </div>
    </section>
  </section>
  <section class='container'>
    <section class="row m-b-md">
        <div class="col-sm-12">
          <h3>Bitcoin <strong>Addresses</strong></h3>
        </div>
    </section>
  </section>
</div>
<div class='sub'>
  <section class='container'>
    <section class="row m-b-md">
        <div class="col-sm-12">
    </section>
  </section>
</div>
 
