<div class='hero container'>
  <section class="row m-b-md">
      <div class="col-sm-12">
        <h2>Bitcoin <strong>Bookmarks</strong></h2>
        <%= render 'shared/breadcrumb' %>
        <%= render 'shared/social_media' %>
      </div>
  </section>
  <div class="panel panel-default" id='address_bookmarks'>
    <div class="panel-heading">
      <h3 class="panel-title">Bitcoin <strong>Addresses</strong></h3>
    </div>
    <div class="panel-body">
      <p>No <strong>Address</strong> Bookmarks</p>
      <ul class="list-group hide">
      </ul>
    </div>
    <div class="panel-footer hide">
      <span class='pull-right'>Sum: 
        <span class='btc' id='sum_btc'>0 BTC</span>
        <span class='usd hide' id='sum_usd'></span>
      </span>
      <div class='clearfix'></div> 
    </div>
  </div>
  <div class="panel panel-default" id='transaction_bookmarks'>
    <div class="panel-heading">
      <h3 class="panel-title">Bitcoin <strong>Transactions</strong></h3>
    </div>
    <div class="panel-body">
      <p>No <strong>Transaction</strong> Bookmarks</p>
      <ul class="list-group hide">
      </ul>
    </div>
  </div>
  <div class="panel panel-default" id='block_bookmarks'>
    <div class="panel-heading">
      <h3 class="panel-title">Bitcoin <strong>Blocks</strong></h3>
    </div>
    <div class="panel-body">
      <p>No <strong>Block</strong> Bookmarks</p>
      <ul class="list-group hide">
      </ul>
    </div>
  </div>
</div>
