<div class='hero container'>
  <section class="row m-b-md">
      <div class="col-sm-12">
        <h2>Bitcoin <strong>Calculator</strong></h2>
        <%= render 'shared/breadcrumb' %>
        <%= render 'shared/social_media' %>
      </div>
  </section>
  <div class="panel panel-default" id='address_bookmarks'>
    <div class="panel-body">
      <p class='hide'><span id='btc_value'>0</span> BTC</p>
      <p>$<span id='usd_value'>0</span></p>
      <div class="form-group">
        <label for="btc_calculator_input">BTC Calculator Input</label>
        <input id='btc_calculator_input' type="number" class="form-control" placeholder="1.75">
      </div>
      <div class="form-group hide">
        <label for="usd_calculator_input">USD Calculator Input</label>
        <input id='usd_calculator_input' type="number" class="form-control" placeholder="50">
      </div>
      <div class="radio">
        <label for='bitcoin_calculator'>
          <p><input type="radio" name='bitcoin_calculator' value='btc' checked>BTC</p>
          <p><input type="radio" name='bitcoin_calculator' value='usd'>USD</p>
        </label>
      </div>
      <p class="help-block">Exchange Rate: $<%= @exchange_rate %> / 1 BTC</p>
    </div>
  </div>
</div>
