<div class='hero container'>
  <section class="row m-b-md">
      <div class="col-sm-12">
        <h2>Bitcoin <strong>Calculator</strong></h2>
        <%= render 'shared/breadcrumb' %>
        <%= render 'shared/social_media' %>
      </div>
  </section>
  <div class="panel panel-default" id='address_bookmarks'>
    <div class="panel-body">
      <p><span id='btc_value'>0</span> BTC</p>
      <p>$<span id='usd_value'>0</span></p>
      <p><input id='btc_calculator_input' type='number' /></p>
      <p><input id='usd_calculator_input' type='number' /></p>
    </div>
  </div>
</div>
