<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <h2>Hello <%= @config['email'] %>,</h2>
    
    <p>You've successfully destroyed your chain: <%= @config['title'] %>.</p>
    
    <p>Thanks for using blockchain.bigearth.io!</p>
  </body>
</html>
