$white: #fff;

body, h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

body {
  color: $white;
  background: #0F5288;
  font-family: helvetica;
}

#nav {
  background: #03233B;
  a {
    color: $white;
  }
}

#index {
  border-width: 0 0 2px 0px;  
  border-style: solid;
  border-color: #03233B;
}

#blocks {
  background: #579dd8;
  h3 {
    strong{
      color: #0F5288;
    }
  }
}

table {
  color: #333;
  a {
    text-decoration: underline;
  }
}
