// Place all the styles related to the chains controller here.
// They will automatically be included in application.css.

#dashboard .panel-body {
  padding-top: 0;
}

#controls {
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: #ddd;
  padding-left: 0;
  padding-right: 0;
}

#controls .btn-group-justified {
  margin-bottom: 10px;
}

#controls ul {
  list-style-type: none;
  margin-bottom: 0;
}

.parent_folder, .parent_folder + ul {
  padding-left: 0;
}

.parent_folder {
  cursor: pointer;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #ddd;
  height: 70px;
}

.folder_icon {
  line-height: 70px;
}

.parent_folder:hover, .parent_folder.active, ul.active {
  background: #f5f5f5;
}

.requests li {
  height: 2em;
  line-height: 1.9em;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #ddd;
}

.requests li:first-of-type {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #ddd;
}

.requests li:last-of-type {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #ddd;
}

.http_verb {
  font-weight: bold;
  font-size: .7em;
}

.get {
  color: green;
}

.post {
  color: orange;
}

.put {
  color: blue;
}

.delete {
  color: red;
 }
