// Place all the styles related to the chains controller here.
// They will automatically be included in application.css.

#dashboard {
  margin-top: -20px;

  .panel {
    border-radius: 0;
    
    h3 {
      margin: 10px 0;
    }
  }
  
  .panel-body {
    padding-top: 0;
  }
}

#controls {
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: #ddd;
  padding-left: 0;
  padding-right: 0;

  .btn-group-justified {
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    margin-bottom: 0;
  }
}

.parent_folder, .parent_folder + ul {
  padding-left: 0;
}

.parent_folder {
  cursor: pointer;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #ddd;
  height: 70px;
}

.folder_icon {
  line-height: 70px;
}

.parent_folder:hover, .parent_folder.active, ul.active {
  background: #f5f5f5;
}
.requests {
  li {
    height: 2em;
    line-height: 1.9em;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #ddd;
  }

  li:first-of-type {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #ddd;
  }

  li:last-of-type {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #ddd;
  }

  li.active {
    background-color: #d9edf7;
  }
}

.http_verb {
  font-weight: bold;
  font-size: .7em;
}

#title {
  a, a:visited, a:hover, a:active {
    color: #333; 
    text-decoration: none;
  }
} 

.get {
  color: green;
}

.post {
  color: orange;
}

.put {
  color: blue;
}

.delete {
  color: red;
 }

#panel {
  .get, .post, .put, .delete {
    text-transform: uppercase;
    font-weight: 200;
  }
  
  .get {
    background-color: green;
  }

  .post {
    background-color: orange;
  }

  .put {
    background-color: blue;
  }

  .delete {
    background-color: red;
   }
  
  #http_verb {
    color: white;
  }
  #send {
    background-color: #0F5288;
    color: white;
    font-weight: 200;
  }
}
