$midnight_blue: #03233B;
$deep_ocean: #0F5288;
$shallow_stream: #579dd8;

body, h1, h2, h3, h4, h5, h6 {
  font-weight: 200
}

body {
  color: white;
  background: $deep_ocean;
  font-family: 'Roboto', helvetica;
}

.hero {
  border-width: 0 0 2px 0px;  
  border-style: solid;
  border-color: $midnight_blue;

  h2 {
    strong {
      color: $midnight_blue;
    }
  }
}

.sub{
  background: $shallow_stream;
  h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    strong{
      color: $deep_ocean;
    }
  }
  h4 {
    strong{
      color: $deep_ocean;
    }
  }
}

ul {
  li.list-group-item {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

table {
  color: #333;
  a {
    text-decoration: underline;
  }
}

.panel {
  color: #333;
  
  .panel-heading {
    h3.panel-title {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.label-as-badge {
    border-radius: 1em;
}

.breadcrumb {
  overflow: hidden;
  text-overflow: ellipsis;
}

footer {
  background: $midnight_blue;
  a, a:visited, a:hover, a:active {
    color: white;
  }
  
}

pre#output {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
