$white: #fff;

body, h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

h2 {
  strong {
    color: #03233B;
  }
}

body {
  color: $white;
  background: #0F5288;
  font-family: helvetica;
}

.hero {
  border-width: 0 0 2px 0px;  
  border-style: solid;
  border-color: #03233B;
}

.sub{
  background: #579dd8;
  h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    strong{
      color: #0F5288;
    }
  }
  h4 {
    strong{
      color: #0F5288;
    }
  }
}

ul {
  li.list-group-item {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

table {
  color: #333;
  a {
    text-decoration: underline;
  }
}

.panel {
  color: #333;
  
  .panel-heading {
    h3.panel-title {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.label-as-badge {
    border-radius: 1em;
}

.breadcrumb {
  overflow: hidden;
  text-overflow: ellipsis;
}
