.jumbotron {
  text-align: center;
  margin: -20px 0 0 0;
  color: #333;
  
  .dev_important {
    font-weight: bold;
    color: #03233B;
  }
  
  .download_description {
    font-size: 1em;
  }
  
  a {
    text-decoration: none;
  }
}

#tech_stack {
  background: white;
  color: #333;
  padding: 50px 0;
  
  a {
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
    color: #333;
  }
}

h2 {
  font-weight: bold;
}

h3 {
  margin-bottom: 50px;
  color: #5e5e5e;
}

.logo {
  text-align: center;
  height: 90px;
}

.bitcoin_logo {
  width: 300px;
}

.rails_logo {
  width: 225px;
}

.chef_logo {
  width: 225px;
}

.projects {
  padding: 50px 0;
  background: #eee;
  color: #333;
  
  h3 {
    margin-bottom: 25px;
  }
  
  h4 {
    margin-bottom: 25px;
  }
  
  a:hover {
    text-decoration: none;
  }
}
