<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <h2>Hello <%= @resource.email %>,</h2>

    <p>We're contacting you to notify you that your password has been changed.</p>
    
    <h2>Next Steps</h2>
    <ol>
      <li>
        <%= link_to 'Sign in', new_user_session_url %> and create your first chain.
      </li>
    </ol>

    <p>Big Earth</p>
  </body>
</html>
