<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <h2>Hello <%= @resource.email %>,</h2>

    <p>Someone has requested a link to change your password. You can do this through the link below.</p>

    <p>If you didn't request this, please ignore this email.</p>
    
    <p>Your password won't change until you access the link and create a new one.</p>
    
    <h2>Next Steps</h2>
    <ol>
      <li>
        <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %>
      </li>
    </ol>

    <p>Big Earth</p>
  </body>
</html>
