<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <h2>Hello <%= @resource.email %>,</h2>

    <p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

    <h2>Next Steps</h2>
    <ol>
      <li>
        <%= link_to 'Unlock your account', unlock_url(@resource, unlock_token: @token) %>
      </li>
    </ol>
    <p>Big Earth</p>
  </body>
</html>
