<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <h2><%= @email %>,</h2>
    <p>Thanks for trying blockchain.bigearth.io! We're sorry to see you go.</p>
    <p>Feel free to reply to this email w/ your thoughts on why you destroyed your account.</p>
    <p>Should you decide to return we'll welcome you back gladly at <%= root_url %>.</p>
    <p>Thanks again,</p>
    <p>Big Earth</p>
  </body>
</html>
