<p>
  You have successfully confirmed your bigearth.io account!
</p>
<p>
  To login to the site, just follow this link: http://stageblockchain.bigearth.io/users/sign_in.
</p>
<p>
  We recommend turning on 2 factor authentication: http://stageblockchain.bigearth.io/users/enable-two-factor.
</p>
<p>Thanks for joining and have a great day!</p>
